<!DOCTYPE html>


<!--requirements for this page: media queries... handlebars and branding-->
<html>
 
<head>
    <title>login</title>
</head>
 
<body>

  <div class="form-group row">
          <div class="panel-body">
                <div class="col-xs-3"></div>

                <div class="col-xs-6">

<!-- Second Container -->
  <div id="loginForm" class="container-fluid bg-2 text-center">
    <h3 class="margin"></h3>
    <p class="instructions">Login with your email and student ID. Then enter the ID of your assigned husky and the ID of a mate of the opposite sex. After 18 hours, you'll see your puppy! </p>

    <form id="login" name="login" method="post" action="login">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input id="email" type="email" class="text form-control form-control-sm" placeholder="Email" name="email">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input id="pswd" type="password" class="text form-control form-control-sm" name="password" placeholder="Password">
        </div>
      </div>
      <button type="submit" id="loginBtn" class="btn btn-default btn-sm" name="Login">Login</button>
    </form>


  </div>


    </div>

    <div class="col-xs-3"></div>
  </div>  
</div>

</body>
 
</html>