<br>

                  
                   <button type="button" class="tableBtn btn btn-outline-secondary btn-lg"><a href="/admin_add"><span class="glyphicon glyphicon-plus"></span> Add Student</a></button>
                  
                  <button type="button" class="tableBtn btn btn-outline-secondary btn-lg"><a href="/admin" ><span class="glyphicon glyphicon-heart-empty"></span> Student Dashboard</a></button>



<h1>Delete Student Here</h1>

  <div class="form-group row">
          <div class="panel-body">
                <div class="col-xs-3"></div>

                <div class="col-xs-6">

<!-- Second Container -->
  <div id="loginForm" class="container-fluid bg-2 text-center">
   

<!---delete start-->
    <form name="admin_delete" class="create-update-form" action="/admin_delete/delete" method="POST">
            <div class="form-group">
              <label for="id">Column ID of Student to delete</label>
              <input class="form-control" type="text" id="id" name="id" placeholder="Column id for Student here">
            </div>
            <button id="loginBtn" class="btn btn-default btn-sm">Delete Student</button>
        </form>
<!---delete end-->




  </div>


    </div>

    <div class="col-xs-3"></div>
  </div>  
</div>
