<br><br>

<!--  ******************* Submit for first puppy ******************************* -->

<div class="container bg-2 row" id="familyTree1a" class="bg-2">
    <form id="student_form" name="student_form" method="GET" action="">

    <div class="col-xs-6" style="text-align:center">
        <label for="initial_Parent" >Enter the ID of your Husky</label><br>
        <input id="initial_Parent" class="text-dark"name="initial_Parent" type="number" min="1" max="162" maxlength="3" required/><br>
        <div id="holdfirst1a"></div>        
    </div>

    <div class="col-xs-6" style="text-align:center">    
        <label for="first_Mate" >Enter the ID of your Husky Mate</label><br>
        <input id="first_Mate" class="text-dark" name="first_Mate" type="number" min="1" max="162" maxlength="3" required/><br>
        <div id="holdsecond1a"></div>        
     </div>        

    <div class="col-xs-12" style="text-align:center">         
        <input class="btn" id="submit1" type="submit" value="Submit" style="display: inline;"/>
    </div>

    <div class="col-xs-12" style="text-align:center; display: none;" id="show1">         
        <span style="font-color: white; font-weight: 700;">Now you have to wait for your puppy...</span>
    </div>


    </form>
</div>
<!--  ******************* end of Submit for first puppy ******************************* -->

<!-- ******************** display both parents but not puppy! ************************ -->
<div class="container bg-2 row" id="familyTree1b" class="bg-2">

    <div class="col-xs-6" style="text-align:center">
        <div id="holdfirst1b"></div>        
    </div>

    <div class="col-xs-6" style="text-align:center">    
        <div id="holdsecond1b"></div>        
     </div>        

    <div class="col-xs-12" style="text-align:center; font-color: white; font-weight: 700;" id="show1a">         
        Now you have to wait for your puppy...
    </div>

</div>
<!-- ******************** end display both parents but not puppy! ************************ -->

<!-- ******************** display both parents, go to puppy! ************************ -->
<div class="container bg-2 row" id="familyTree1c" class="bg-2">

    <div class="col-xs-6" style="text-align:center">
    Parent 1:<br>
        <div id="holdfirst1c"></div>        
    </div>

    <div class="col-xs-6" style="text-align:center">    
    Parent 2:<br>
        <div id="holdsecond1c"></div>        
     </div>        

    <div class="col-xs-12" style="text-align:center; font-color: white; font-weight: 700;" id="show1c">         
        See your first puppy below ...
    </div>

</div>
<br><br>
<!-- ******************** end display both parents but not puppy! ************************ -->


<!--  ******************* Submit for Second puppy ******************************* -->

<div class="container bg-2 row" id="familyTree2a" class="bg-2">
    <form id="student_form2" name="student_form" method="GET" action="">

    <div class="col-xs-6" style="text-align:center; font-color: white;">
        YOUR FIRST PUPPY<br>
        and parent for next generation.
        <div id="holdfirst2a"></div>        
    </div>

    <div class="col-xs-6" style="text-align:center">    
        <label for="second_Mate" >Enter the ID of SECOND <br>Husky Mate</label><br>
        <input id="second_Mate" class="text-dark" name="second_Mate" type="number" min="1" max="162" maxlength="3" required/><br>
        <div id="holdsecond2a"></div>        
     </div>        

    <div class="col-xs-12" style="text-align:center; font-color: black;">         
        <input class="btn" id="submit2" type="submit" value="Submit" style="display: inline;"/>
    </div>

    <div class="col-xs-12" style="text-align:center; display: none;" id="show2">         
        <span style="font-color: white; font-weight: 700;">Now you have to wait for your puppy...</span>
    </div>


    </form>
</div>
<!--  ******************* end of Submit for first puppy ******************************* -->

<script type="text/javascript" src="../assets/js/app.js"></script>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">We have a HUSKY problem...</h4>
        </div>
        <div class="modal-body">
          <p>Looks like you are trying to mate two males or two females, you better fix that!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


